.Ify-navbar {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0px 18px;
}

.Ify-navbar-items {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Ify-nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 18px;
  font-size: 14px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: #1f1f1f;
  }
  &.active {
    color: #0097f3;
  }

  & .Ify-dropdown-list {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    &.active {
      border-left: 4px solid #0097f3;
    }
  }
}

.Ify-nav-icon {
  width: 18px;
  height: 18px;
}
