.Ify-table {
  width: 100%;
  text-align: left;
  font-size: 13px;
  border-collapse: collapse;

  & th,
  & td {
    padding: 5px;
  }

  & th {
    border-bottom: 2px solid #f1f1f1;
    background-color: #f5f5f5;
    font-weight: 500;
  }

  & td {
    border-bottom: 1px solid #f1f1f1;
  }
}

.Ify-table.Ify-table-md {
  & th,
  & td {
    padding: 8px;
  }
}

.Ify-table.Ify-table-lg {
  & th,
  & td {
    padding: 12px;
  }
}

.Ify-table-sticky-header {
  & thead th {
    position: sticky;
    top: 0;
  }
}
