.Ify-p5 {
  padding: 5px;
}
.Ify-p10 {
  padding: 10px;
}
.Ify-p15 {
  padding: 15px;
}
.Ify-p20 {
  padding: 20px;
}
.Ify-p25 {
  padding: 25px;
}
.Ify-p30 {
  padding: 30px;
}
.Ify-p48 {
  padding: 48px;
}

.Ify-m5 {
  margin: 5px;
}
.Ify-m10 {
  margin: 10px;
}
.Ify-m15 {
  margin: 15px;
}
.Ify-m20 {
  margin: 20px;
}
.Ify-m25 {
  margin: 25px;
}
.Ify-m30 {
  margin: 30px;
}
.Ify-m48 {
  margin: 48px;
}
.Ify-mb20 {
  margin-bottom: 20px;
}
.Ify-mt24 {
  margin-top: 24px;
}
.Ify-mt28 {
  margin-top: 28px;
}
.Ify-mb28 {
  margin-bottom: 28px;
}

.Ify-ml-auto {
  margin-left: auto;
}

.Ify-mr-auto {
  margin-right: auto;
}

.Ify-border {
  border: 1px solid #f1f1f1;
}

.Ify-box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
}

.Ify-sticky-top {
  position: sticky;
  top: 0;
}

.Ify-tc {
  text-align: center;
}

.Ify-fw-5 {
  font-weight: 500;
}

.Ify-tr {
  text-align: right;
}

.Ify-tl {
  text-align: left;
}
.Ify-tc {
  text-align: center;
}
