.Ify-logo-medium {
  width: 164px;
  height: 43px;
}

.Ify-alert-success {
  padding: 12px;
  color: #419f2a;
  background: #eef9eb;
}

.Ify-hide {
  display: none;
}

.Ify-hover-pointer {
  cursor: pointer;
}

.Ify-hover-blue {
  &:hover {
    color: #0097f3;
  }
}

.Ify-grey {
  color: #7a7a7a;
}
.Ify-grey-2 {
  color: #5f5f5f;
}
